* {
  box-sizing: border-box;
}

.noughts-and-crosses {
  width: 300px;
  height: 300px;
  background-color: rebeccapurple;
  color: white;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 0 0 100px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100px;
  border: 2px solid white;
  font-size: 32px;
}
