.header {
  background-color: rebeccapurple;
  color: white;
  padding: 20px;
  font-size: 72px;
  text-align: center;
}

.new-game-btn {
  background-color: rebeccapurple;
  color: white;
  padding: 20px 32px;
  font-size: 72px;
  text-align: center;
  border-radius: 32px;
  border: none;
  text-transform: uppercase;
  margin: 40px auto;
  display: block;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.title {
  font-size: 48px;
  text-align: center;
  border-bottom: 2px solid grey;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.game-item {
  font-size: 28px;
  text-align: center;
  padding: 12px 20px;
  display: block;
  margin: 0 auto 20px auto;
  border: 2px solid rebeccapurple;
  background: rgba(0, 0, 0, 0);
  color: rebeccapurple;
  border-radius: 4px;
  width: 80%;
  cursor: pointer;
  transition: all 0.3s ease-in 0s;
}

.game-item:hover {
  background: rebeccapurple;
  color: white;
}

.sign-in-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.form-container {
  position: fixed;
  width: 300px;
  height: 250px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.form-container input {
  background: none;
  border: 2px solid rebeccapurple;
  border-radius: 4px;
  padding: 8px 12px;
  margin: 20px 0;
}

.form-container button {
  background: rebeccapurple;
  border: 2px solid rebeccapurple;
  border-radius: 4px;
  padding: 8px 12px;
  color: white;
}
